html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    // background-color: red;
    height: 100vh;
}

.sidebar {
    background-color: blue;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding-left: 15px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.content {
    margin: 0px !important;
}