$border-color: rgb(200, 200, 200);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    // background-color: red;
    height: 100vh;
}

.main-content {
    margin-top: 65px;
}

.sidebar {
    background-color: blue;
}

.content {
    overflow: scroll;
    margin: 0px
}