$border-color: rgb(200, 200, 200);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    // background-color: red;
    height: 100vh;
}

.sidebar {
    // background-color: blue;
    border-right: solid 1px $border-color;
    overflow: hidden;
}

.content {
    overflow: scroll;
}